html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background-color: rgba(40, 53, 56, 0.4);
    position: fixed;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #b1b1b1;
}

.navbar h1 {
    font-family: 'Raleway';
    font-weight: 700;
    /* text-shadow: 5px 5px 10px #e8f143; */
    color: #fff;
}

.navbar.scrolled {
    background: hsla(0, 0%, 0%, .3); /* Warna transparan */
    backdrop-filter: blur(20px); /* Efek blur */
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    gap:0 6rem;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}



.background {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    /* position: relative; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, .06)),url("../assets/bg.jpeg");
    -webkit-mask-image: linear-gradient(rgba(0,0,0,1) 80%, rgba(0,0,0,0));
    
}

.header {
    width: 83%;
    height: 100%;
    display: flex;
    align-self: center;
}

.header h1 {
    color: #fff;
    text-shadow: 5px 5px 15px black;
    font-size: 55px;
    font-family: 'Poppins';
    text-align: center;
}

.profil {
    display: flex;
    /* height: 500px; */
    /* margin-left: 5rem; */
    padding: 7rem 2.5rem 1rem 2.5rem;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    /* background-color: #b1b1b1; */
    /* padding-top: 6rem; */
    /* width: 100%; */
    /* height: 700px; */
}

.profil .text-area p {
    font-size: 1.2rem;
    font-family: 'Raleway';
    word-spacing: 0.8rem;

}

.profil .text-area h3 {
    margin-bottom: 2rem;
    font-family: 'Poppins';
    font-size: 2.2rem;
    text-transform: uppercase;
}

.profil  img {
    /* margin-left: z4rem; */
    border-radius: 2rem;
    height: 300px;
    width: 500px;
}

h2 {
    text-align: center;
    /* margin: 3em 0 rem 0; */
    font-family: 'Raleway';
    font-size: 2.6rem;
    padding: 6rem 0 2rem 0;
    /* background-color: #141414; */
}

h2 span, .profil .text-area span {
    color: rgb(255, 175, 105);
}

.container-row {
    display: flex;
    /* max-width: 2000px; */
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 1rem;
}

.container-row .row {
    display: flex;
    flex-flow: column wrap;
    max-width:400px;
    /* max-height: 4000px; */
    margin: 2rem;
    /* padding:  1rem; */
    border: 2px solid#dcd8d8;
    border-radius: 3px;
    overflow: hidden;
}

.container-row .row img {
    /* border-radius: 3px; */
    width: 398px;
    height: 200px;
    /* align-self: center; */
    transition: transform 0.3s ease;
    /* transform-origin: center; */
    /* object-fit: cover; */
}

.row img:hover {
    transform: scale(1.1);
}

.container-row .row .text {
    margin: 2rem 2rem;
}

.container-row .row .text h3 {
    font-family: 'Poppins';
    padding: 0.6rem 1rem;
    color: #141414;
    font-weight: 600;
    text-transform: uppercase;
}

.container-row .row .text p {
    padding: 1rem 1rem;
    font-size: 1rem;
    font-family: 'Raleway';
    line-height: 1.5rem;
}

.contact {
    position: relative;
    margin: 2rem 0 0 0;
    min-height: 80vh;
    background-image:linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('assets/shutterstock_2477237641.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.teks {
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    width: 1000px;
    position: absolute;
    display: flex;
    justify-items: center;
    flex-flow: column;
}

.contact .teks h2 {
    color: #fff;
    text-align: center;
    font-family: 'Raleway';
    font-size: 2.4rem;
    font-weight: 500;
}

.contact .teks h2 span {
 font-family: 'Poppins';   
 font-weight: 700;
}

.contact .tombol {
    text-align: center;
}

.contact .tombol a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    background-color: rgb(56, 172, 218);
    border-radius: 8px;
    height: 50px;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Raleway';
    margin: 3rem;
    text-align: center;
}

.footer {
    background-color: #B9E5E8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: 'Raleway';
    font-size: 1.2rem;
}